@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {display: grid; max-width: 1600px;margin: 0 auto;font-family: Roboto, sans-serif, Arial, Helvetica;}
header {background-color: blue;}
h1 {text-align: center;color: white;}
nav {display: flex;justify-content: space-around;background-color: black;}
nav a:hover {text-decoration: underline black;background-color: white;color: darkblue;}
a {text-decoration: none;font-size: large;font-weight: bold;padding: 2.5%;color: white;}
main {display: grid;grid-template-columns: auto minmax(200px, 30%);}
.card {border: 3px solid black;margin: 1em;border-radius: 10px;}
.cardheading {margin: 0; background-color: blue;color: white;font-size: 2em;font-weight: bold;text-align: center;padding: 2.5%;}
.devlink {color: black;}
.devp {display: flex;height: 85%;flex-direction: column;justify-content: center;}
div {display: grid;grid-template-columns: 1fr 1fr;padding: 2.5%;align-items: center;column-gap: 2.5%;justify-items: center;}
.countryheading {text-align: center;font-size: 1.5em;font-weight: bold;text-decoration: underline black;}
figure {float: left;text-align: center;margin: 0;padding: 2.5%;padding-top: 0;}
.aboutn {padding: 2.5%;padding-top: 0;}
footer {background-color: blue;color: white; text-align: center;}
footer p {font-size: 1.5em;padding-bottom: 0;margin-bottom: 0;}
.last {color: yellow;font-size: 0.8em;font-family: Oswald, Arial, Helvetica, sans-serif;}
#lastModified {margin: 0;padding-bottom: 1.5%;}
.pic {width: 100%;}

@media screen and (max-width: 900px) {
    main {display: block;height: 100%;}
    nav, footer {flex-direction: column;}
}