@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {margin: 0;padding: 0;box-sizing: border-box;font-family: Roboto, sans-serif, Arial, Helvetica;}
:root {
    --main-bg-color: green;
    --data-font-size: 1rem;
    --main-text-color: white;
}
header {background-color: var(--main-bg-color);color: var(--main-text-color);padding: 1.5rem;}
h1 {text-align: center;}
.hero-img {background-color: white;padding-top: 1.5rem;}
h2 {text-align: center;padding-bottom: 1.5rem;}
.datatable, .weathertable {width: 300px; margin: 1rem auto;}
.weather-img {display: block;margin: 1rem auto;}
.row {display: grid;grid-template-columns: 1fr 1fr;}
footer {background-color: var(--main-bg-color);color: var(--main-text-color); text-align: center;padding: 1.5rem;}
footer p {font-size: 1.5em;padding-bottom: 0;margin-bottom: 0;}
.border {border-bottom: 2px solid black;}
img {width: 100%;height: auto;}
.col-one {justify-self: right;padding-right: 10px;}
.weatherheading {padding: 0;}


@media screen and (min-width: 700px) {
    .datatable {display: flex;flex-direction: column;justify-content: space-around; position: absolute;top: 10%;width: 40%;height: 60%; background-color: black;opacity: 0.7;color: var(--main-text-color);left: 1.5%;margin: 0;}
    .weather-img {display: none;}
    h2 {font-weight: bolder;background-color: skyblue;color: black;text-align: left;margin-left: -0.5rem;padding: 1rem;width: 90%;}
    .weathertable {display: flex;flex-direction: column;justify-content: space-around; position: absolute;top: 45%;background-color: black;height: 40%;width: 30%; opacity: 0.7;color: white;right: 1.5%;}
    .weatherheading::after {content: "⛅";position: relative;top: 0.3rem;left: 1rem;}
    .weatherheading {padding: 1rem;}
    .border {display: none;}
    main {padding: 0;position: relative;width: 100%;}
    .hero-img {padding-bottom: 0;}
    .row {font-weight: bolder;padding-right: 2px;}
}