* {margin: 0;padding: 0;}
header {background-color: #2e0b2b;color: white;padding: 1rem;}
footer {background-color: purple;color: white; text-align: center;padding: 1rem;margin-top: auto;}
footer p {font-size: 1.5rem;}
body {min-height: 100vh;display: flex;flex-direction: column;}
main p {font-size: 20px;margin-top: 20rem;}
main {padding: 1rem;}
.numVisits {color: blue;}